<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://cdn.icnet.dev/web/drgn/assets/img/svg/Dragon.svg" />
    <link rel="stylesheet" href="https://dashboard.playdragonfly.net/css/cosmetics.css">
    <link rel="stylesheet" href="https://dashboard.playdragonfly.net/css/account.css">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dragonfly - Account</title>

    <!-- Custom fonts for this template-->
    <link href="https://dashboard.playdragonfly.net/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="https://dashboard.playdragonfly.net/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://dashboard.playdragonfly.net/css/style.css" />
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/sidebar', { account: account }) %>
        <!-- End of Sidebar -->

        <div id="content-wrapper" style="background-color: #fff !important;" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <%- include('../partials/nav', { account: account }) %>
                <!-- End of Topbar -->

                <div class="container-fluid">
                    <div class="row" style="width: 100%;">
                        <!-- Playtime (Total) Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Account Name
                                            </div>
                                            <label class="account__username-wrapper">
                                                <input id="account__username-input"
                                                    class="h5 mb-0 font-weight-bold text-gray-800 account__username adjust"
                                                    minlength="4" maxlength="16" type="text"
                                                    value=<%= account.username %>
                                                    data-default-username=<%= account.username %>>
                                                <span id="account__username-icon">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row" style="width: 100%;">
                        <div class="col-lg-6 mb-4">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Minecraft Accounts
                                    </h6>
                                </div>
                                <div class="card-body minecraft-account-card" id="minecraft-account-card">
                                    <% if(linkedMinecraftAccounts.length >= 1) { %>
                                    <%- include('../partials/minecraft-accounts', { linkedMinecraftAccounts: linkedMinecraftAccounts }) %>
                                    <% } else { %>
                                    <p style="padding-top: 10px;">All linked minecraft accounts are displayed here.</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                </div>
                <h4 class="note_coming-soon">More coming soon...</h4>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://dashboard.playdragonfly.net/vendor/jquery/jquery.js"></script>
    <script src="https://dashboard.playdragonfly.net/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="https://dashboard.playdragonfly.net/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script src="https://dashboard.playdragonfly.net/js/sb-admin-2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://dashboard.playdragonfly.net/js/account.js"></script>
</body>

</html>