<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://cdn.icnet.dev/web/drgn/assets/img/svg/Dragon.svg" />
    <link rel="stylesheet" href="https://dashboard.playdragonfly.net/css/cosmetics.css">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dragonfly - Cosmetics</title>

    <!-- Custom fonts for this template-->
    <link href="https://dashboard.playdragonfly.net/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="https://dashboard.playdragonfly.net/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://dashboard.playdragonfly.net/css/style.css" />
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../../partials/sidebar') %>
        <!-- End of Sidebar -->

        <div id="content-wrapper" style="background-color: #fff !important;" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <%- include('../../partials/nav', { account: account, path: path }) %>
                <!-- End of Topbar -->

                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row" style="width: 100%;">
                        <!-- Playtime (Total) Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Revenue (total)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                id="partner-revenue_wrapper">
                                                <% if(Object.keys(ref).length === 0) { %>
                                                <span id="partner-revenue_value"><%= message %></span>
                                                <% } else { %>
                                                <span id="partner-revenue_value"><%= ref.amount %></span>
                                                <span id="partner-revenue_currency">€</span>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                                <% if(Object.keys(ref).length !== 0 && ref.type == "discount") { %>
                                <p class="small" id="partner-revenue_discount-note">While using "discount"
                                    as the
                                    income mode, your
                                    revenue won't change.</p>
                                <% } %>
                            </div>
                        </div>

                        <!-- Income mode - Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body income-mode-card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Income mode
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div class="dropdown" style="margin-top: 5px;">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="partner-income-type-btn" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <span id="income-type_selected"
                                                            data-selected-income=<%= ref.type || "unlinked" %>><%= ref.type || "N/A" %></span>
                                                    </button>
                                                    <div class="dropdown-menu" id="income-type_dropdown"
                                                        aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item income-type"
                                                            data-income-type=<%= Object.keys(ref).length !== 0 && ref.type == "discount" ? "bonus" : "discount" %>
                                                            href="#"><%= Object.keys(ref).length !== 0 && ref.type == "discount" ? "Bonus" : "Discount" %>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-funnel-dollar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Amount of purchases - Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-drgn-pdark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-drgn-pdark text-uppercase mb-1">
                                                Amount of purchases
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <%= Object.keys(ref).length !== 0 ? ref.count : "0" %>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-sort-amount-up-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Account creation date - Card -->
                        <!-- <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-drgn-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-drgn-primary text-uppercase mb-1">
                                                Account creation date
                                            </div>
                                            <div id="dragonfly-account-creation-date"
                                                class="h5 mb-0 font-weight-bold text-gray-800">
                                                N/A
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-plus fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Favorite server
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        N/A
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-heart fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <!-- Content Row -->
                </div>
                <h4 class="note_coming-soon">More coming soon...</h4>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://dashboard.playdragonfly.net/vendor/jquery/jquery.js"></script>
    <script src="https://dashboard.playdragonfly.net/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="https://dashboard.playdragonfly.net/js/overview.partner.js"></script>
    <script src="https://dashboard.playdragonfly.net/js/main.js"></script>
    <script src="https://dashboard.playdragonfly.net/js/sb-admin-2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>